<div class="container">
    <nav class="flex justify-between width:1200px">
        <div>
            <ul class="flex justify-evenly">
                <li>Home</li>
                <li>About</li>
                <li>Contact</li>
                <li>Agents</li>
            </ul>
        </div>
        <div>
            <button>Sign in</button>
            <button>Sign up</button>
        </div>
    </nav>
</div>